@tailwind base;
@tailwind components;
@tailwind utilities;






#search{
  background-color:green;
  padding: 1rem;
  transition: transform 0.3s ease-in;
  /* input{
    border:none;
  }   */
  div:focus,input:focus{
    outline: 0;
  }
}

/* #input{
  width: 0px;
} */