@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=DotGothic16&family=Pixelify+Sans:wght@400;500;600&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#menuBottone {
  position: relative;
  top: 5.5rem;
  /* right: 1.5rem; */
  overflow-y: hidden;
}

.menuSfera {
  position: fixed;
  top: -4.5rem;
  left: -4.5rem;
}

.ombra {
  text-shadow: -1px 0 #ffffff, 0 1px #ffffff, 1px 0 #ffffff, 0 -1px #ffffff;
}

.trans {
  transition: all 0.5s;
}

.sfondoLogo {
  position: sticky;
  top: 0;
}

.sfondo {
  background-image: url("/sfondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.menuContainer {
  position: absolute;
  top: 0;
  left: -15rem;
}

.showMenu {
  transform: rotate(-15deg);
  left: -7rem;
}

#menu {
  position: fixed;
  z-index: 10;
  height: 120%;
  transition: all 1s;
  border-right: 5px solid;
  -o-border-image: linear-gradient(45deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)) 0.6;
     border-image: linear-gradient(45deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)) 0.6;
  background: rgb(0, 0, 0);
  background: linear-gradient(42deg, rgba(0, 0, 0, 0) 0%, rgb(0, 83, 28) 52%);
}

.close {
  right: 2rem;
}

.open {
  right: 1.3rem;
}

.pixel {
  font-family: "Pixelify Sans", sans-serif;
  cursor: pointer;
}
.pixel:hover {
  color: yellow;
}

#voci {
  font-family: "Pixelify Sans", sans-serif;
  transition: all 1s;
  cursor: pointer;
  z-index: 100;
}
#voci:hover {
  color: yellow;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.pres {
  height: -moz-fit-content;
  height: fit-content;
}

.gradTesto {
  background-color: #000;
  border-radius: 2rem;
  border: 3px solid green;
}

.video {
  top: 0;
}

.zoom {
  transition: all 0.5s;
}
.zoom:hover {
  transform: scale(1.2);
}

#progetto2 {
  background-color: #ffffff;
}

.Nooverflow {
  overflow: hidden;
}

.suOggetto {
  transition: all 0.5s;
}

.barra {
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 1199px) {
  #hiddenMenu {
    display: none;
  }
  #menu {
    display: none;
  }
  #containerBottone {
    display: none;
  }
  #decrizioneContainer {
    width: 100%;
    padding: 10px;
  }
  #vociMobile {
    display: block;
    font-family: "Pixelify Sans", sans-serif;
    transition: all 1s;
    cursor: pointer;
  }
  #vociMobile:hover {
    color: yellow;
  }
  #mobileTitle {
    justify-content: space-between;
  }
  #footerMobile {
    padding: 10px;
    height: auto;
    gap: 4rem;
    justify-self: center;
  }
  #contattiMobile {
    flex-direction: column;
    height: auto;
    gap: 4rem;
    padding: 20px;
    margin: auto;
  }
  #container {
    flex-wrap: wrap;
    justify-content: center;
  }
  #prog {
    min-width: 300px;
  }
  .bottoneCookie {
    font-size: small;
  }
}
#cook {
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100px;
  padding-bottom: 1rem;
}

.policy {
  color: blue;
}
.policy:hover {
  color: purple;
}

.bottoneCookie {
  transition: all 0.5s;
}
.bottoneCookie:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  border: #16A34A solid 1px;
  color: #16A34A;
}/*# sourceMappingURL=index.css.map */